body{margin: 0;}

.contenedor{
display:flex ;
flex-direction:row;
}
.barra-lateral{
background-color: rgb(189, 243, 232);
border:1px solid black;
flex-grow: 1;
width: 60px;
}
main{
border: 1px black;
flex-grow: 4;
height: 100vh;

}
.puño{width: 100%;
    border:1px solid brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.perfil{
border: solid 1px black;
display: flex;
padding: 1rem;
justify-content: space-between;
}
.imgMaria{
gap:0.5rem;
display: flex;
border :2px;
}
.imgMaria > img{
border-radius: 50%;
}
.imgMaria > section{
border:  1px;
display: flex;
flex-direction: column;
justify-content: center;
}
h2{margin:0}
p{margin:0}
.iconos{
border:  1px;
display: flex;
align-items: center;
gap: 1rem;
font-size: 2rem;
}
.nuevoChat{
border:solid 1px black;
padding: 2.0rem; display: flex;
justify-content: center;
align-items: center
;
}
button{background-color: rgb(206, 164, 245);}

.cajita1{
gap: 3rem;
border: 1px solid black;
display: flex;
padding: 7px;}

.cajita1 > img{
border-radius: 50%; 
}

.nombre1{
border:1px  ;
display: flex;
align-items: center;
}
.cajita2{
gap: 3rem;
border: 1px solid black;
display: flex;
padding: 7px;}

.cajita2 > img{
border-radius: 50%; 
}

.nombre2{
border:1px  ;
display: flex;
align-items: center;
}
.cajita3{
gap: 3rem;
border: 1px solid black;
display: flex;
padding: 7px;}

.cajita3 > img{
border-radius: 50%; 
}


.cajita4{
gap: 3rem;
border: 1px solid black;
display: flex;
padding: 7px;}

.cajita4 > img{
border-radius: 50%; 
}

.cajita5{
gap: 3rem;
border: 1px solid black;
display: flex;
padding: 7px;}

.cajita5 > img{
border-radius: 50%; 
}
.cajita6{
gap: 3rem;
border: 1px solid black;
display: flex;
padding: 7px;}

.cajita6 > img{
    border-radius: 50%; 
}
.cajita7{gap: 3rem;
    border: 1px solid black;
    display: flex;
padding: 7px;}

.cajita7 > img{
    border-radius: 50%; 
}


